/* ================================================================ >> Imports << */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* ================================================================ >> Imports << */

/* ================================================================== >> Basic << */

/* ------------------------------------------------------- >> * << */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
}

/* ------------------------------------------------------- >> * << */

/* -------------------------------------------- >> scroll style << */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0);
}


/* -------------------------------------------- >> scroll style << */

/* ---------------------------------------------------- >> font << */
@font-face {
    font-family: vazir;
    src: url("./../assets/font/Vazir-Regular-FD.ttf");
}

@font-face {
    font-family: vazirB;
    src: url("./../assets/font/Vazir-Bold-FD.ttf");
}

/* ---------------------------------------------------- >> font << */

/* ---------------------------------------------------- >> root << */
:root {
    --light-blue: #0077E9;
    --deep-blue: #000B98;
    --deep-blue25: #000a984c;
    --gold: #E6A600;
    --white: #E6E6FA;
    --white75: #e6e6fabe;
    --white50: #e6e6fa7f;
    --white25: #e6e6fa4f;
    --black: #282828;
    --black75: #282828be;
    --black50: #28282880;
    --black25: #28282842;
    --shadow: rgba(0, 0, 0, 0.15)
}

/* ---------------------------------------------------- >> root << */

/* ---------------------------------------------- >> All Father << */
html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Comic Sans MS', vazir, serif;
    overflow: hidden;
}

/* ---------------------------------------------- >> All Father << */

/* ================================================================== >> Basic << */

/* ================================================================ >> Layer 1 << */
.Layer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 0;
}

/* -------------------------------------------------- >> Body << */
#BG_1 {
    width: 100%;
    height: 200%;
    position: relative;
    background-image: linear-gradient(45deg, #4D3FA6, var(--deep-blue), #4D3FA6);
    animation: LiveBG 60s ease infinite;
    background-size: 100% 400%;
}

@keyframes LiveBG {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* -------------------------------------------------- >> Body << */

/* ================================================================ >> Layer 1 << */

/* ================================================================ >> Layer 2 << */
.Layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 1;
}

/* -------------------------------------------------- >> Body << */
#BG_2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------------------------- >> Body << */

/* ================================================================ >> Layer 2 << */

/* ================================================================ >> Layer 3 << */
.Layer3 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    scale: 0;
    z-index: 2;
    backdrop-filter: blur(50px);
    transition: all 0.5s;
}

.Layer3.show {
    left: 0%;
    scale: 1;
}

/* -------------------------------------------------- >> Body << */
#BG_3 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* -------------------------------------------------- >> Body << */

/* ----------------------------------------------- >> Sidebar << */
.Sidebar {
    width: 10%;
    height: max-content;
    padding: clamp(0.5rem, 1vw, 2rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.5s;
}

/* ------------------------------------ > logo < */
.SidebarLogo {
    width: 100%;
    height: 70px;
    padding: clamp(1rem, 2vw, 3rem);
    background-color: var(--white25);
    border: 2px solid var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 0px var(--black25);
    transition: all 0.5s;
}

.SidebarLogo:hover {
    background-color: var(--white);
    box-shadow: inset 0px 0px 10px var(--black25);
}

.SidebarLogo:active {
    background-color: var(--white);
    box-shadow: inset 0px 0px 10px var(--black25);
}

.SiderbarLogoImage {
    max-width: 70%;
    object-fit: fill;
}

/* ------------------------------------ > logo < */

/* --------------------------------- > Divider < */
.SidebarDivider {
    width: 100%;
    height: 2px;
    background-color: var(--white25);
    transition: all 0.5s;
}

/* --------------------------------- > Divider < */

/* ------------------------- > Siderbar Option < */
.SidebarOption {
    width: 100%;
    cursor: pointer;
    background-color: var(--black);
    border-radius: 5px;
    border: 2px solid var(--white25);
    color: var(--white75);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: clamp(0.85rem, 1vw, 2rem);
    padding: clamp(0.5rem, 1vw, 2rem);
    transition: all 0.5s;
    position: relative;
}

.SidebarOption:hover {
    border: 2px solid var(--white);
    color: var(--white);
}

.SidebarOption:active {
    scale: 0.95;
}

.SidebarOption.active {
    border: 2px solid var(--white);
    color: var(--white);
}

.SiderbarOptionMarker {
    background-color: var(--gold);
    height: 0%;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    transition: all 0.5s;
}

.SidebarOption.active .SiderbarOptionMarker {
    height: 80%;
}

/* ------------------------- > Siderbar Option < */

/* ------------------------------- > User Info < */
.SidebarUserInfo {
    cursor: pointer;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    border: 2px solid var(--white25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 10px;
    transition: all 0.5s;
}

.SidebarUserInfo:hover {
    border: 2px solid var(--white);
}

.SidebarUserInfo:active {
    scale: 0.95;
}

.SidebarUserAvatar {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 60%;
    max-width: 80%;
    border: 2px solid var(--white25);
    box-shadow: 0px 0px 0px var(--white25);
    border-top: none;
    object-fit: scale-down;
    transition: all 0.5s;
}

.SidebarUserInfo:hover .SidebarUserAvatar {
    border: 2px solid var(--white);
    box-shadow: 0px 2px 5px var(--white25);
    border-top: none;
}

.SidebarUserName {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    color: var(--white);
    font-size: clamp(0.85rem, 1vw, 2rem);
}

/* ------------------------------- > User Info < */


/* ----------------------------------------------- >> Sidebar << */

/* ================================================================ >> Layer 3 << */

/* ================================================================ >> Layer 4 << */
.Layer4 {
    width: 0%;
    height: 0%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 3;
}

/* -------------------------------------------------- >> Body << */
#BG_4 {
    width: 100%;
    height: 100%;
    position: relative;
}

/* -------------------------------------------------- >> Body << */

/* ---------------------------------------------- >> operator << */
.SidebarOperator {
    transform: translate(15%, -120%);
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 40px;
    background-color: var(--black);
    border: 2px solid var(--white);
    padding: clamp(0.75rem, 1.5vw, 3rem);
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    position: relative;
    transition: all 0.5s;
}

.SidebarOperator.active {
    width: 120px;
}

/* ---------------------------------- > Text < */
.SidebarOperatorText {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    opacity: 0;
    color: var(--white);
    font-size: 18px;
    transition: all 0.5s;
}

.SidebarOperatorText.show {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
    opacity: 1;
}

/* ---------------------------------- > Text < */

/* ---------------------------------- > Icon < */
.SidebarOperatorIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.SidebarOperatorIcon.change {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.SidebarOperatorIconLine1,
.SidebarOperatorIconLine2,
.SidebarOperatorIconLine3 {
    background-color: var(--white);
    transition: all 0.5s;
    width: 20px;
    height: 3px;
    border-radius: 10px;
}

.SidebarOperatorIconLine1.change {
    transform: rotate(-35deg) translate(-20%, 80%);
    width: 12px;
}

.SidebarOperatorIconLine3.change {
    transform: rotate(35deg) translate(-20%, -80%);
    width: 10px;
}

/* ---------------------------------- > Icon < */

/* ---------------------------------------------- >> operator << */

/* ================================================================ >> Layer 4 << */

/* ================================================================ >> Layer 5 << */
.Layer5 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 4;
    transition: all 0.5s;
}

.Layer5.show {
    bottom: 0%;
}

/* -------------------------------------------------- >> Body << */
#BG_5 {
    width: 100%;
    height: 100%;
    position: relative;
}

/* -------------------------------------------------- >> Body << */

/* ----------------------------------------------- >> Loading << */
.Loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.LoadingText {
    font-size: clamp(6rem, 10vw, 15rem);
    color: var(--gold);
    font-family: "Passion One", serif;
    margin: auto 0px;
}

.LoadingIcon {
    font-size: clamp(4rem, 6vw, 12rem);
    color: var(--white);
}

/* ----------------------------------------------- >> Loading << */

/* ------------------------------------------ >> Notification << */

/* ------------------------------------------ >> Notification << */

/* ================================================================ >> Layer 5 << */

/* ================================================================ >> Layer 6 << */
.Layer6 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 5;
}

/* -------------------------------------------------- >> Body << */
#BG_6 {
    width: 100%;
    height: 100%;
    position: relative;
}

/* -------------------------------------------------- >> Body << */

/* ================================================================ >> Layer 6 << */

/* ============================================================ >> Media Query << */

/* ------------------------------------------------ >> 4K << */
@media screen and (min-width: 1800px) {

    /* ----------------------------- > Layer 3 < */
    .SidebarLogo {
        height: 150px;
    }

    /* ----------------------------- > Layer 3 < */


    /* ----------------------------- > Layer 4 < */
    .SidebarOperator {
        scale: 1.8;
        transform: translate(40%, -100%);
    }

    /* ----------------------------- > Layer 4 < */

}

/* ------------------------------------------------ >> 4K << */

/* ------------------------------------------ >> L Laptop << */
@media screen and (max-width: 1440px) {}

/* ------------------------------------------ >> L Laptop << */

/* ------------------------------------------ >> S Laptop << */
@media screen and (max-width: 1024px) {

    /* ----------------------------- > Layer 3 < */
    .Sidebar {
        width: 15%;
    }

    /* ----------------------------- > Layer 3 < */

}

/* ------------------------------------------ >> S Laptop << */

/* -------------------------------------------- >> tablet << */
@media screen and (max-width: 768px) {

    /* ----------------------------- > Layer 3 < */
    .Sidebar {
        width: 18%;
    }

    /* ----------------------------- > Layer 3 < */
}

/* -------------------------------------------- >> tablet << */

/* ------------------------------------------ >> L mobile << */
@media screen and (max-width: 425px) {

    /* ----------------------------- > Layer 3 < */
    .Sidebar {
        width: 30%;
    }

    /* ----------------------------- > Layer 3 < */

    /* ----------------------------- > Layer 4 < */
    .SidebarOperator {
        scale: 0.9;
        transform: translate(10%, -120%);
    }

    /* ----------------------------- > Layer 4 < */
}

/* ------------------------------------------ >> L mobile << */

/* ------------------------------------------ >> M mobile << */
@media screen and (max-width: 375px) {

    /* ----------------------------- > Layer 3 < */
    .Sidebar {
        width: 35%;
    }

    /* ----------------------------- > Layer 3 < */
}

/* ------------------------------------------ >> M mobile << */

/* ------------------------------------------ >> S mobile << */
@media screen and (max-width: 320px) {

    /* ----------------------------- > Layer 3 < */
    .Sidebar {
        width: 40%;
    }

    /* ----------------------------- > Layer 3 < */
}

/* ------------------------------------------ >> S mobile << */

/* ============================================================ >> Media Query << */